<app-navbar *ngIf="!(isMobile$ | async)" />
<app-back-arrow url="/" />

<form class="auth-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">

  <img src="./assets/logo_p6.png" *ngIf="isMobile$ | async" class="logo">

  <h1>Inscription</h1>

  <mat-form-field appearance="outline" class="form-field">

    <mat-label>Nom d'utilisateur</mat-label>

    <input matInput formControlName="username">

    <mat-error *ngIf="authForm.controls['email'].hasError('required')">
      email requis.
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">

    <mat-label>Email</mat-label>

    <input matInput formControlName="email">

    <mat-error *ngIf="authForm.controls['email'].hasError('required')">
      email requis.
    </mat-error>

    <mat-error *ngIf="authForm.controls['email'].hasError('email')">
      email invalide.
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">

    <mat-label>Mot de passe</mat-label>

    <input matInput formControlName="password" type="password">

    <mat-error *ngIf="authForm.controls['password'].hasError('required')">
      Le mot de passe est requis.
    </mat-error>

  </mat-form-field>

  <mdd-button caption="S'inscrire" type="submit" [disabled]="authForm.invalid" (click)="onSubmit()">
  </mdd-button>

  <mat-error *ngIf="errorMessage" class="error-message">
    {{errorMessage}}
  </mat-error>

</form>
