:root {
  --mdd-color-rgb: 120, 96, 194;
  --mdd-color: rgb(var(--mdd-color-rgb));
  --min-width: 350px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-button,
.mat-raised-button,
.mat-flat-button,
.mat-stroked-button,
.mat-icon-button {
  border-radius: 4px;
}
