<app-navbar currentPage="user" />

<form class="user-form" [formGroup]="userForm" (ngSubmit)="onSave()">

  <h1>Profil utilisateur</h1>

  <mat-form-field appearance="outline" class="form-field">

    <mat-label>Nom d'utilisateur</mat-label>

    <input matInput formControlName="username">

  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">

    <mat-label>Email</mat-label>

    <input matInput formControlName="email">

    <mat-error *ngIf="userForm.controls['email'].hasError('email')">
      email invalide.
    </mat-error>

  </mat-form-field>

  <mdd-button caption="Sauvegarder" type="submit" [disabled]="userForm.invalid" (click)="onSave()">
  </mdd-button>

  <button class="logout-button" type="button" (click)="logout()">Se déconnecter</button>

  <mat-error *ngIf="errorMessage" class="error-message">
    {{errorMessage}}
  </mat-error>

</form>

<div class="subscriptions">

  <span class="separator"></span>

  <h1>Abonnements</h1>

</div>
